global:
  resolve_timeout: 5m
  slack_api_url: 'YOUR_SLACK_WEBHOOK_URL'

templates:
  - '/etc/alertmanager/templates/*.tmpl'

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: 'flask-webhook-critical'
      continue: true
    
    - match:
        severity: warning
      receiver: 'flask-webhook-warning'

receivers:
  - name: 'default'
    webhook_configs:
      - url: 'http://flask-webhook:5000/webhook/alert'
        send_resolved: true

  - name: 'flask-webhook-critical'
    webhook_configs:
      - url: 'http://flask-webhook:5000/webhook/alert'
        send_resolved: true

  - name: 'flask-webhook-warning'
    webhook_configs:
      - url: 'http://flask-webhook:5000/webhook/alert'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']
